-# .row
-#   .well
-#     .col-md-4.pull-left
-#       %img.img-circle.img-responsive
-#         = image_tag comment.person.profile_image.url(:medium)
-#     %p
-#       %strong= comment.person.full_name
-#       napisał: #{comment.body}
-#     %p
-#       %span.quiet
-#         %small
-#           utworzono:
-#           = timeago_tag comment.created_at, lang: :pl
-#       %span.quiet
-#         %small
-#           edytowano:
-#           = timeago_tag comment.updated_at, lang: :pl
-#     - if comment.person == current_person || current_manager?
-#       %td= link_to 'Edytuj',  edit_backend_news_comment_path(@news, comment), class: "btn btn-small btn-info"
-#       %td= link_to 'Usuń', [:backend, @news, comment], method: :delete, class: "btn btn-small btn-danger", data: { confirm: 'Jesteś pewny/a?' }

.container-fluid
  / First row
  .row.hoverable
    .col-md-4
      = image_tag comment.person.profile_image.url(:medium)
    .col-md-7
      = comment.person.full_name
      %i.fa.fa-clock-o
      utworzono:
      = timeago_tag comment.created_at, lang: :pl
      %i.fa.fa-clock-o
      edytowano:
      = timeago_tag comment.updated_at, lang: :pl
      %p
        = comment.body
    .col-md-1
      - if comment.person == current_person || current_manager?
        = link_to 'Edytuj', edit_backend_news_comment_path(@news, comment),
          class: "btn btn-small btn-info"
        = link_to 'Usuń', [:backend, @news, comment], method: :delete, class: "btn btn-small btn danger",
          data: { confirm: 'Jesteś pewny/a'}
  %br
