%h1 Edycja wejściówek
= simple_form_for([:backend, @entry_type], as: :entry_type, url: {action: "update"}) do |f|
  = errors_for(@entry_type)
  = f.input :kind, as: :radio_buttons, collection: EntryType::KIND, include_blank: 'Wybierz rodzaj wejściówki'
  = f.input :kind_details
  = f.input :description, as: :text
  = f.input :price
  = f.button :submit
