= simple_form_for([:backend, @vacation]) do |f|
  = errors_for(@vacation)
  .row
    .col-md-6
      = f.input :start_at
    .col-md-6
      = f.input :end_at
    .col-md-12
      - if @person.blank?
        = f.input :free, as: :boolean
        = f.input :person_id, label: "Pracownik", :collection => @employees.map{|e| [e.person_full_name_type, e.id]}, prompt: "Wybierz pracownika"
      - else
        - person_id = @person.id
    .col-md-12.input-field
      = f.input :reason, as: :text, input_html: { class: "materialize-textarea" }
    .col-md-6
      = f.button :submit, class: "btn btn-primary"
