= simple_form_for([:backend, @vacation], url: {action: "update"}) do |f|
  = errors_for(@vacation)
  .row
    .col-md-6
      = f.input :start_at
    .col-md-6
      = f.input :end_at
    .col-md-12
      = f.input :free, as: :boolean
    .col-md-12.input-field
      = f.input :reason, as: :text, input_html: {class: "materialize-textarea"}
    .col-md-6
      = f.button :submit, class: "btn btn-primary"
:javascript
  $(document).ready(function () {
      $('select').material_select();
  });
