#wrap
  #main.clear-top
    = render '/layouts/slider'
    = render '/layouts/about'
    = render '/layouts/price'
    = render '/layouts/contact'
= render '/layouts/footer'

.wrap
  .col-md-3
    %h1
      Witaj świecie
