%h3 Historia zakupów
.row
  .col-md-6
    .card-panel
      .blue-text.text-darken-2
        %i.fa.fa-info-circle
        Jesteś na stronie historii wszystkich dokonanych tranzakcji dla poniższej wejściówki.
.row
  .col-md-6
  - unless @last_bought.blank?
    %ul.collection
      %li.collection-item
        %h5 Ostatni zakup:
      %li.collection-item
        %p
          Data:
          = @last_bought.bought_data.strftime('%d.%m.%y %H:%M') unless @bought_details.blank?
        %p
          Rodzaj:
          = @last_bought.entry_type.kind
        %p
          Cena:
          = number_with_precision(@last_bought.entry_type.price, precision: 2)
          zł
.col-md-6
  = render 'shared/searchbar'
%table.table.table-striped.table-bordered.table-list.pretty.table-list-search
  %thead
    %tr
      %th
        %em.fa.fa-cog
        Zarządzanie
      %th
        = sortable 'bought_data', 'Data zakupu'
      %th
        = sortable 'start_on', 'Data ważności od'
      %th
        = sortable 'end_on', 'Data ważności do'
      %th
        Aktywny?
      %th
        Klient
  %tbody
    - @bought_details.each do |bought|
      %tr
        %td
          = link_to backend_entry_type_bought_detail_path(@entry_type, bought), method: :delete, data: { confirm: 'Jesteś pewny/a?' } do
            %i.btn.btn-danger
              %i.fa.fa-trash
        %td
          = bought.bought_data.strftime('%d.%m.%y %H:%M') unless bought.bought_data.blank?
        %td
          = bought.start_on unless bought.end_on.blank?
        %td
          = bought.end_on unless bought.end_on.blank?
        %td
          - if bought.active?
            %i.fa.fa-check
          - else
            %i.fa.fa-times
        %td
          = bought.person.full_name unless bought.person.blank?

= will_paginate @bought_details, renderer: BootstrapPagination::Rails
