%h4 Zakupy
.row
  .col-md-6
    .card-panel
      .blue-text.text-darken-2
        %i.fa.fa-info-circle
        Jesteś na stronie płatności. Poniżej po lewej stronie masz informacje
        o zakupie. Wprowadź numer karty płatniczej, kod CVV oraz datę ważności,
        a następnie kliknij ZAPŁAĆ.
= simple_form_for([:backend, @entry_type, @bought_detail], url: {action: "create"}) do |f|
  = errors_for(@bought_detail)
  .row
    .col-md-5
      %ul.collection
        %li.collection-item
          %h5 Szczegóły:
        %li.collection-item
          %b
            Aktualnie kupujesz:
          = @entry_type.kind
        %li.collection-item
          %b
            Szczegóły:
          = @entry_type.kind_details
        %li.collection-item
          %b
            Opis:
          = @entry_type.description
        %li.collection-item
          %b
            Cena:
          = @entry_type.price
          - if @entry_type.kind == 'Karnet'
            zł / miesiąc
          - else
            zł
  .row
    .col-md-5
      #stripe_error.alert.alert-danger{:style => "display:none"}
      .panel.panel-success
        .panel-heading Dane do płatności
        .panel-body
          .row.input-field
            = f.input :credit_card, input_html: {'data-stripe' => "number"}
          .row.input-field
            = f.input :card_code, input_html: {'data-stripe' => "cvc"}
          .row.input-field
            .col-md-3
              = select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month", :'data-stripe' => "exp-month"}
            .col-md-3
              = select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year", :'data-stripe' => "exp-year"}

    - if @entry_type.kind == 'Karnet'
      .col-md-offset-1.col-md-5
        .panel.panel-success
          .panel-heading Karnet
          .panel-body
            .row
              = f.select :days, [['1 miesiąc', 30], ['2 miesiąc', 60], ['3 miesiąc', 90]], prompt: 'Wybierz czas trwania', required: true
            .row
              = f.input :start_on, start_year: Date.today.year, end_year: Date.today.year + 1, hint: "Pozostaw bez zmian, jeśli chcesz, aby karnet był aktywny od razu po zakupie."
  .col-md-offset-3.col-md-5
    .row
      = f.button :submit, class: "btn btn-primary btn-block"
