%h4 Zakupy
.row
  .col-md-6
    .card-panel
      .blue-text.text-darken-2
        %i.fa.fa-info-circle
        Jesteś na stronie płatności. Poniżej po lewej stronie masz informacje
        o zakupie. Wprowadź numer karty płatniczej, kod CVV oraz datę ważności,
        a następnie kliknij ZAPŁAĆ.
= simple_form_for([:backend, @entry_type, @bought_detail], url: {action: "create"}) do |f|
  = errors_for(@bought_detail)
  .row
    .col-md-5
      %ul.collection
        %li.collection-item
          %h5 Szczegóły:
        %li.collection-item
          %b
            Aktualnie kupujesz:
          = @entry_type.kind
        %li.collection-item
          %b
            Szczegóły:
          = @entry_type.kind_details
        %li.collection-item
          %b
            Opis:
          = @entry_type.description
        %li.collection-item
          %b
            Cena:
          = @entry_type.price
          - if @entry_type.kind == 'Karnet'
            zł / miesiąc
          - else
            zł
  .row
    .col-md-5
      #stripe_error.alert.alert-danger{:style => "display:none"}
      .panel.panel-success
        .panel-heading Dane do płatności
        .panel-body
          .row.input-field
            = f.input :credit_card, input_html: {'data-stripe' => "number"}
          .row.input-field
            = f.input :card_code, input_html: {'data-stripe' => "cvc"}
          .row.input-field
            .col-md-3
              = select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month", :'data-stripe' => "exp-month"}
            .col-md-3
              = select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year", :'data-stripe' => "exp-year"}

    - if @entry_type.kind == 'Karnet'
      .col-md-offset-1.col-md-5
        .panel.panel-success
          .panel-heading Karnet
          .panel-body
            .row
              = f.select :days, [['1 miesiąc', 30], ['2 miesiące', 60], ['3 miesiące', 90]], prompt: 'Wybierz czas trwania', required: true
            .row
              = f.input :start_on, start_year: Date.today.year, end_year: Date.today.year + 1, hint: "Pozostaw bez zmian, jeśli chcesz, aby karnet był aktywny od razu po zakupie."
  .col-md-offset-3.col-md-5
    .row
      = f.button :submit, class: "btn btn-primary btn-block"

:javascript
  var payment;

  var errorMessages = {
      incorrect_number: 'Numer karty jest nieprawidłowy.',
      invalid_number: 'Numer karty nie jest prawidłowy.',
      invalid_expiry_month: 'Termin wygaśnięcia karty jest nieprawidłowy.',
      invalid_expiry_year: 'Rok ważności karty jest nieprawidłowy.',
      invalid_cvc: 'Kod zabezpieczający kartę jest nieprawidłowy.',
      expired_card: 'Karta wygasła.',
      incorrect_cvc: 'Kod CVV jest nieprawidłowy.',
      incorrect_zip: 'Kod pocztowy karty jest nieprawidłowy.',
      card_declined: 'Karta została odrzucona.',
      missing: 'Nie ma karty na klienta, która jest w trakcie ładowania.',
      processing_error: 'Podczas przetwarzania karty wystąpił błąd.',
      rate_limit: 'Wystąpił błąd z powodu zbyt szybkiego przetwarzania wniosków API. Daj nam znać, jeśli błąd będzie stale występował.'
  };

  jQuery(function() {
      Stripe.setPublishableKey($('meta[name="stripe-key"]').attr('content'));
      return payment.setupForm();
  });

  payment = {
      setupForm: function() {
          return $('#new_bought_detail').submit(function() {
              $('input[type=submit]').attr('disabled', true);
              Stripe.card.createToken($('#new_bought_detail'), payment.handleStripeResponse);
              return false;
          });
      },
      handleStripeResponse: function (status, response) {
          if (status === 200) {
              $('#new_bought_detail').append($('<input type="hidden" name="stripeToken" />').val(response.id));
              return $('#new_bought_detail')[0].submit();

          } else {
            if ( response.error && response.error.type == 'card_error'){
              $('#stripe_error').text(errorMessages[response.error.code]).show();
            } else {
              $('#stripe_error').text('Brak danych do płatności').show();
            }
              return $('input[type=submit]').attr('disabled', false);
          }
      }
  };
