%h1 Historia zakupów wejściówki:
%h5
.row
  .col-md-6
    .card-panel
      .blue-text.text-darken-2
        %i.fa.fa-info-circle
        Jesteś na stronie historii wszystkich dokonanych tranzakcji.
.row
  .col-md-6
    %ul.collection
      %li.collection-item
        %h5 Ostatni zakup:
      %li.collection-item
        %p
          Data:
          = @last_bought.bought_data unless @last_bought.blank?
        %p
          Rodzaj:
          = @entry_type.kind
        %p
          Cena:
          = @entry_type.price
          zł
%table.table
  %thead
    %tr
      %th
        Data zakupu
      %th
        Bilet/Karnet
      %th
        Cena
      %th
        Data ważności od
      %th
        Data ważności do
      %th
        Aktywny?
      %th
        Klient
  %tbody
    - @bought_details.each do |bought|
      %tr
        %td
          = bought.bought_data unless bought.bought_data.blank?
        %td
          = bought.entry_type.kind unless bought.entry_type.blank?
        %td
          = bought.entry_type.price
          zł
        %td
          = bought.start_on unless bought.end_on.blank?
        %td
          = bought.end_on unless bought.end_on.blank?
        %td
          - if bought.expired?
            %i.fa.fa-check
          - else
            %i.fa.fa-times
        %td
          = bought.person.fullName unless bought.person.blank?
