%h3 Historia zakupów
.row
  .col-md-6
    .card-panel
      .blue-text.text-darken-2
        %i.fa.fa-info-circle
        Jesteś na stronie historii wszystkich dokonanych przez Ciebie tranzakcji.
.row
  .col-md-6
    - unless @last_bought.blank?
      %ul.collection
        %li.collection-item
          %h5 Ostatni zakup:
        %li.collection-item
          %p
            Data:
            = l(@last_bought.bought_data) unless @last_bought.blank?
          %p
            Rodzaj:
            = @last_bought.entry_type.kind
          %p
            Cena:
            = @last_bought.entry_type.price
            zł

- unless @bought_history.blank?
  %table.table.table-striped.table-bordered.table-list.pretty.table-list-search
    %thead
      %tr
        %th
          = sortable 'bought_data', 'Data zakupu'
        %th
          Bilet/Karnet
        %th
          = sortable 'price', 'Cena'
        %th
          = sortable 'start_on', 'Data ważności od'
        %th
          = sortable 'end_on', 'Data ważności do'
        %th
          Aktywny?
    %tbody
      - @bought_history.each do |bought|
        %tr
          %td
            = l(bought.bought_data) unless bought.bought_data.blank?
          %td
            = bought.entry_type.kind unless bought.entry_type.blank?
          %td
            = bought.entry_type.price
            zł
          %td
            = l(bought.start_on) unless bought.end_on.blank?
          %td
            = l(bought.end_on) unless bought.end_on.blank?
          %td
            - if bought.active?
              %i.fa.fa-check
            - else
              %i.fa.fa-times
  = will_paginate @bought_history, renderer: BootstrapPagination::Rails
- else
  .row
    .col-md-12
      .card-panel.teal.text-center
        %span.white-text
          Brak zakupów.
