= render 'nav'
%h5 Klienci
%p
  Obecnie w bazie posiadamy
  = Client.count
  zarejestrowanych klientów.
.col-md-6
  = render 'shared/searchbar'
%table.table.table-striped.table-bordered.table-list.pretty.table-list-search
  %thead
    %tr
      %th
        %em.fa.fa-cog
        Zarządzanie
      %th
        = sortable "pesel", "Pesel"
      %th
        = sortable "first_name", "Imię"
      %th
        = sortable "last_name", "Nazwisko"
      %th
        = sortable "date_of_birth", "Data urodzenia"
      %th
        = sortable "email", "Email"
  %tbody
    - @clients.each do |person|
      %tr
        %td
          = link_to backend_person_path(person) do
            %i.btn.btn-success
              %i.fa.fa-user
          = link_to edit_backend_person_path(person) do
            %i.btn.btn-default
              %i.fa.fa-pencil
          = link_to backend_person_path(person), method: :delete, data: { confirm: 'Jesteś pewny/a?' } do
            %i.btn.btn-danger
              %i.fa.fa-trash
        %td
          = person.pesel
        %td
          = person.first_name
        %td
          = person.last_name
        %td
          = person.date_of_birth.strftime('%d-%m-%Y')+'r.'
        %td
          = person.email
= will_paginate @clients, renderer: BootstrapPagination::Rails
