%h2
  Edycja profilu
.col-md-6
  = simple_form_for([:backend, @person], as: :person, url: {action: "update"}, html: { class: 'form-horizontal' }) do |f|
    .form-group
      = f.input :pesel, required: true, autofocus: true, class: "form-control"
    .form-group
      = f.input :first_name, required: true, class: "form-control"
    .form-group
      = f.input :last_name, required: true
    = f.input :date_of_birth, required: true, start_year: Date.today.year - 100, end_year: Date.today.year - 13
    .form-group
      = f.input :email, required: true
    .form-group
      = f.input :profile_image, as: :file
    .form-group
      %i (zostaw puste, jeżeli nie chcesz zmieniać)
      = f.input :password, hint: ("minimum #{@minimum_password_length} znaków" if @minimum_password_length)
    .form-group
      = f.input :password_confirmation
    - unless @current_person.type = "Manager"
      .form-group
        %i (potrzebujemy hasło do potwierdzenia zmian)
        = f.input :current_password, required: true, autocomplete: "off"
    .form-actions
      = f.button :submit, "Zapisz", class: "btn btn-info"
      - if @person.profile_image.present?
        = link_to remove_photo_backend_person_path(@person), method: :delete, data: {confirm: 'Czy na pewno?'}, class: "btn btn-sm btn-danger" do
          %i.fa.fa-trash-o
          Usuń zdjęcie profilowe
