= render 'nav'
%h5 Ratownicy
%p
  Obecnie w bazie posiadamy
  = Lifeguard.count
  zarejestrowanych ratowników.

= render 'shared/people_searchbar'
%table.table.table-striped.table-bordered.table-list.pretty.table-list-search
  %thead
    %tr
      %th
        %em.fa.fa-cog
        Zarządzanie
      %th
        = sortable "pesel", "Pesel"
      %th
        = sortable "first_name", "Imię"
      %th
        = sortable "last_name", "Nazwisko"
      %th
        = sortable "date_of_birth", "Data urodzenia"
      %th
        = sortable "email", "Email"
      %th
        = sortable "salary", "Wynagrodzenie"
      %th
        = sortable "hiredate", "Data zatrudnienia"
  %tbody
    - @lifequards.each do |lifeguard|
      %tr
        %td
          = link_to backend_person_path(lifeguard), title: 'Profil' do
            %i.btn.btn-success
              %i.fa.fa-user
          = link_to edit_backend_person_path(lifeguard), title: 'Edytuj' do
            %i.btn.btn-default
              %i.fa.fa-pencil
          = link_to backend_person_path(lifeguard), title: 'Usuń', method: :delete, data: { confirm: 'Jesteś pewny/a?' } do
            %i.btn.btn-danger
              %i.fa.fa-trash
        %td
          = lifeguard.pesel
        %td
          = lifeguard.first_name
        %td
          = lifeguard.last_name
        %td
          = l(lifeguard.date_of_birth)
        %td
          = lifeguard.email
        %td
          = lifeguard.salary.nice
          zł
        %td
          = l(lifeguard.hiredate)

= will_paginate @lifequards, renderer: BootstrapPagination::Rails
