= render 'nav'
%h5 Recepcjoniści
%p
  Obecnie w bazie posiadamy
  = Receptionist.count
  zarejestrowanych recepcjonistów.
= render 'shared/people_searchbar'
%table.table.table-striped.table-bordered.table-list.pretty.table-list-search
  %thead
    %tr
      %th
        %em.fa.fa-cog
        Zarządzanie
      %th
        = sortable "pesel", "Pesel"
      %th
        = sortable "first_name", "Imię"
      %th
        = sortable "last_name", "Nazwisko"
      %th
        = sortable "date_of_birth", "Data urodzenia"
      %th
        = sortable "email", "Email"
      %th
        = sortable "salary", "Wynagrodzenie"
      %th
        = sortable "hiredate", "Data zatrudnienia"
  %tbody
    - @receptionists.each do |receptionist|
      %tr
        %td
          = link_to backend_person_path(receptionist), title: 'Profil' do
            %i.btn.btn-success
              %i.fa.fa-user
          = link_to edit_backend_person_path(receptionist), title: 'Edytuj' do
            %i.btn.btn-default
              %i.fa.fa-pencil
          = link_to backend_person_path(receptionist), title: 'Usuń', method: :delete, data: { confirm: 'Jesteś pewny/a?' } do
            %i.btn.btn-danger
              %i.fa.fa-trash
        %td
          = receptionist.pesel
        %td
          = receptionist.first_name
        %td
          = receptionist.last_name
        %td
          = l(receptionist.date_of_birth)
        %td
          = receptionist.email
        %td
          - unless receptionist.salary.blank?
            = receptionist.salary.nice
            zł
          - else
            %i.fa.fa-times
        %td
          - unless receptionist.hiredate.blank?
            = l(receptionist.hiredate)
          - else
            %i.fa.fa-times

= will_paginate @receptionists, defult: 0, renderer: BootstrapPagination::Rails
