= render 'shared/w_ch_searchbar'
-# - if @people.blank?
-#   .alert.alert-info
-#     %a.close{"aria-label" => "close", "data-dismiss" => "alert", :href => "#"} &times;
-#     Brak rezultatów.
-# -else
%table.table.table-striped.table-bordered.table-list.pretty
  %thead
    %tr
      %th
        %em.fa.fa-cog
        Zarządzanie
      %th
        Pesel
      %th
        Imię
      %th
        Nazwisko
      %th
        Data urodzenia
      %th
        Email
  %tbody
    - unless @people.blank?
      - @people.each do |person|
        %tr
          %td
            = link_to backend_person_path(person) do
              %i.btn.btn-success
                %i.fa.fa-user
            = link_to edit_backend_person_path(person) do
              %i.btn.btn-default
                %i.fa.fa-pencil
            = link_to backend_person_path(person), method: :delete, data: { confirm: 'Jesteś pewny/a?' } do
              %i.btn.btn-danger
                %i.fa.fa-trash
          %td
            = person.pesel
          %td
            = person.first_name
          %td
            = person.last_name
          %td
            = person.date_of_birth
          %td
            = person.email
      = will_paginate @people, renderer: BootstrapPagination::Rails
    - else
      %tr
        %td{colspan: '6'}
          .text-center
            Brak rezultatów.
