.panel.panel-info
  .panel-heading
    %h3.panel-title
      = @person.fullName
  .panel-body
    .row
      .col-md-3.col-lg-3{:align => "center"}
        %img.img-circle.img-responsive
          = image_tag @person.profile_image.url(:medium)

      .col-md-9.col-lg-9
        %table.table.table-user-information
          %tbody
            %tr
              %td Pesel:
              %td
                = @person.pesel
            %tr
              %td Imię:
              %td
                = @person.first_name
            %tr
              %td Nazwisko:
              %td
                = @person.last_name
            %tr
              %td Data urodzenia:
              %td
                = @person.date_of_birth
            %tr
              %td Email
              %td
                %a{:href => "mailto:#{@person.email}"}
                  = @person.email
            - if @person.type != "Client"
              %tr
                %td Zarobki
                %td
                  = @person.salary
                  zł
              %tr
                %td Data zatrudnienia:
                %td
                  = @person.hiredate
              %tr
                %td Zarejestrowany jako:
                %td
                  = @person.type
              %tr
                %td
                  = link_to work_schedule_backend_person_path(@person), class: "btn btn-primary" do
                    %i.fa.fa-calendar
                    Harmonogram pracy
        -# %a.btn.btn-primary{:href => "#"} Harmonogram pracy
        %a.btn.btn-primary{:href => "#"} Team Sales Performance
  .panel-footer
    %a.btn.btn-sm.btn-primary{"data-original-title" => "Broadcast Message", "data-toggle" => "tooltip", :type => "button"}
      %i.glyphicon.glyphicon-envelope
    %span.pull-right
      = link_to edit_backend_person_path(@person), class: "btn btn-sm btn-warning" do
        %i.fa.fa-pencil-square
        Edytuj
      %a.btn.btn-sm.btn-danger{"data-original-title" => "Remove this user", "data-toggle" => "tooltip", :type => "button"}
        %i.glyphicon.glyphicon-remove
