.panel.panel-info
  .panel-heading
    %h3.panel-title
      = @person.full_name
  .panel-body
    .row
      .col-md-3
        %img.img-circle.img-responsive
          = image_tag @person.profile_image.url(:medium)

      .col-md-9
        %table.table.table-user-information
          %tbody
            %tr
              %td Pesel:
              %td
                = @person.pesel
            %tr
              %td Imię:
              %td
                = @person.first_name
            %tr
              %td Nazwisko:
              %td
                = @person.last_name
            %tr
              %td Data urodzenia:
              %td
                = @person.date_of_birth
            %tr
              %td Email
              %td
                %a{:href => "mailto:#{@person.email}"}
                  = @person.email
            - if @person.type != "Client"
              %tr
                %td Zarobki
                %td
                  = @person.salary
                  zł
              %tr
                %td Data zatrudnienia:
                %td
                  = @person.hiredate
              %tr
                %td Zarejestrowany jako:
                %td
                  = @person.type
        %br

        = link_to bought_history_backend_person_path(@person), class: "btn btn-primary" do
          %i.fa.fa-shopping-cart
          Zakupione bilety/karnety
        - unless @person.type == 'Client'
          = link_to backend_work_schedule_path(@person), class: "btn btn-primary" do
            %i.fa.fa-calendar
            Harmonogram pracy
        - if @current_person.type == 'Manager' && @person.type != 'Client'
          = link_to new_backend_vacations_path(@person), data: { no_turbolink: true },  class: "btn btn-primary" do
            %i.fa.fa-plane
            Przydziel urlop
  .panel-footer
    %a.btn.btn-sm.btn-primary{"data-original-title" => "Broadcast Message", "data-toggle" => "tooltip", :type => "button"}
      %i.glyphicon.glyphicon-envelope
    %i.pull-right
      = link_to edit_backend_person_path(@person), class: "btn btn-sm btn-warning", data: {no_turbolink: true} do
        %i.fa.fa-pencil-square
        Edytuj
      = link_to backend_person_path(@person), method: :delete, data: { confirm: 'Jesteś pewny/a?' }, class: "btn btn-sm btn-danger" do
        %i.fa.fa-trash
        Usuń
