%h1 Trenerzy
%p
  Obecnie w bazie posiadamy
  = Receptionist.count
  zarejestrowanych trenerów.
%table.table.pretty.table-hover
  %thead
    %tr
      %th
        %em.fa.fa-cog
        Zarządzanie
      %th
        = sortable "pesel", "Pesel"
      %th
        = sortable "first_name", "Imię"
      %th
        = sortable "last_name", "Nazwisko"
      %th
        = sortable "date_of_birth", "Data urodzenia"
      %th
        = sortable "email", "Email"
      %th
        = sortable "salary", "Wynagrodzenie"
      %th
        = sortable "hiredate", "Data zatrudnienia"
  %tbody
    - @trainers.each do |trainer|
      %tr
        %td
          = link_to backend_person_path(trainer) do
            %i.btn.btn-success
              %i.fa.fa-user
          = link_to edit_backend_person_path(trainer) do
            %i.btn.btn-default
              %i.fa.fa-pencil
          = link_to backend_person_path(trainer), method: :delete, data: { confirm: 'Jesteś pewny/a?' } do
            %i.btn.btn-danger
              %i.fa.fa-trash
        %td
          = trainer.pesel
        %td
          = trainer.first_name
        %td
          = trainer.last_name
        %td
          = trainer.date_of_birth
        %td
          = trainer.email
        %td
          = trainer.salary
        %td
          = trainer.hiredate

= will_paginate @trainers, renderer: BootstrapPagination::Rails
