.container.fix
  %h2.text-center Logowanie
  = simple_form_for(resource, as: resource_name, url: person_session_path) do |f|
    .row
      - if alert
        .alert.alert-danger
          = alert
          %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
    .form-inputs
      .input-field
        = f.input :email, required: false, autofocus: true
      .input-field
        = f.input :password, required: false
      = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
    .form-actions
      = f.button :submit, "Zaloguj się", class: "btn btn-info"
  = render "devise/shared/links"
