%h1 Edycja harmonogramu
= simple_form_for([:backend, @work_schedule], as: :work_schedule, url: {action: "update"}) do |f|
  = errors_for(@work_schedule)
  = f.input :start_time
  = f.input :end_time
  = f.input :day_of_week, collection: WorkSchedule::DAYS
  = f.input :person_id, label: "Pracownik", :collection => @employees.map{|e| [e.full_name, e.id]}

  = f.button :submit
