%h1 Grafik pracy wszystkich pracowników
%table.table.table-striped.table-bordered.table-list
  %thead
    %tr
      %th
        %em.fa.fa-cog
      %th
        = sortable "day_of_week", "Dzień tygodnia"
      %th
        = sortable "start_time", "Czas od"
      %th
        = sortable "end_time", "Czas do"
      %th
        Pracownik
      %th
        Rola
  %tbody
    - @work_schedules.each do |work|
      %tr
        %td{:align => "center"}
          %a.btn.btn-default
            %em.fa.fa-pencil
          %a.btn.btn-danger
            %em.fa.fa-trash
        %td
          = work.day_of_week
        %td
          = work.start_time.strftime("%H:%M")
        %td
          = work.end_time.strftime("%H:%M")
        %td
          = work.person.try(:fullName)
        %td
          - if work.person.type == "Manager"
            %i.btn.btn-danger
              = work.person.type
          - elsif work.person.type == "Client"
            %i.btn.btn-warning
              = work.person.type
          - else
            %i.btn.btn-info
              = work.person.type
    = will_paginate @work_schedules, renderer: BootstrapPagination::Rails
