%table.table.pretty
  %thead
    %tr
      %th
        = sortable "day_of_week", "Dzień tygodnia"
      %th
        = sortable "start_time", "Czas od"
      %th
        = sortable "end_time", "Czas do"
      %th
        Pracownik
      %th.text-center
        Zarządzanie
  %tbody
    - @work_schedules.each do |work|
      %tr
        %td
          = work.day_of_week
        %td
          = work.start_time.strftime("%H:%M")
        %td
          = work.end_time.strftime("%H:%M")
        %td
          = work.person.try(:fullName)
        %td
          = link_to edit_backend_work_schedule_path(work), class: "btn btn-link" do
            %i.glyphicon.glyphicon-edit
            Edytuj
        %td
          = link_to [:backend,work], method: :delete, data: {confirm: 'Jesteś pewny/a?'}, class: "btn btn-link" do
            %i.glyphicon.glyphicon-trash
            Usuń
