.row
  = render 'nav'
.row
  %h5 Grafik pracy pracowników

  .col-md-6
    = render 'shared/w_ch_searchbar'
  %table.table.table-striped.table-bordered.table-list.pretty.table-list-search
    %thead
      %tr
        %th
          %em.fa.fa-cog
          Zarządzanie
        %th
          Dzień tygodnia
        %th
          = sortable "start_time", "Czas od"
        %th
          = sortable "end_time", "Czas do"
        %th
          = sortable "person", "Pracownik"
        %th
          Rola
    %tbody
      - @work_schedules.each do |work|
        %tr
          %td
            = link_to edit_backend_work_schedule_path(work), data: { no_turbolink: true } do
              %i.btn.btn-default
                %i.fa.fa-pencil
            = link_to backend_work_schedule_path(work), method: :delete, data: {confirm: 'Jesteś pewny/a?'} do
              %i.btn.btn-danger
                %i.fa.fa-trash
          %td
            = work.day_of_week
          %td
            = l(work.start_time, format: :short)
          %td
            = l(work.end_time, format: :short)
          %td
            = link_to backend_person_path(work.person) do
              = work.person.full_name
          %td
            - type = I18n.t(:"activerecord.attributes.work_schedule.pl_person_types.#{work.person.type}")
            - if work.person.type = 'Receptionist'
              = link_to backend_receptionists_path do
                %i.btn.btn-info
                  = type
            - elsif work.person.type = 'Lifeguard'
              = link_to backend_lifeguards_path do
                %i.btn.btn-info
                  = type
            - elsif work.person.type = 'Client'
              = link_to backend_clients_path do
                %i.btn.btn-info
                  = type
            - elsif work.person.type = 'Trainer'
              = link_to backend_trainers_path do
                %i.btn.btn-info
                  = type
            - elsif work.person.type = 'Client'
              = link_to backend_clients_path do
                %i.btn.btn-info
                  = type

  = will_paginate @work_schedules, renderer: BootstrapPagination::Rails

:javascript
  $('#calendar').fullCalendar();
