%h4 Pracownik
%h5
  = @person.full_name
- unless @person == current_person || !current_manager
  = link_to new_backend_manage_schedule_index_path(@person), data: { no_turbolink: true } do
    %i.btn.btn-success
      %i.fa.fa-plus
      Dodaj grafik

-if @nearest_vacation.present?
  Najbliższy urlop:
  = l(@nearest_vacation.start_at)

%table.table.table-striped.table-bordered.table-list
  %thead
    %tr
      - if current_manager
        %th
          %em.fa.fa-cog
          Zarządzanie
      %th
        Dzień tygodnia
      %th
        Czas od
      %th
        Czas do
  %tbody
    - @p_work_schedules.each do |work|
      %tr
        - if current_manager
          %td
            = link_to edit_backend_work_schedule_path(work), data: { no_turbolink: true } do
              %i.btn.btn-default
                %i.fa.fa-pencil
            = link_to backend_work_schedule_path(work), method: :delete, data: {confirm: 'Jesteś pewny/a?'} do
              %i.btn.btn-danger
                %i.fa.fa-trash
        %td
          = work.day_of_week
        %td
          = l(work.start_time, format: :short)
        %td
          = l(work.end_time, format: :short)
