-@work_schedule
%h3 Pracownik
%h4
  = @person.full_name
= link_to new_backend_work_schedule_path(@person) do
  %i.btn.btn-success
    %i.fa.fa-plus
    Dodaj grafik

-if @person.vacations.present?
  Najbliższy urlop:
  = @vacation.start_at

%table.table.table-striped.table-bordered.table-list
  %thead
    %tr
      %th
        %em.fa.fa-cog
        Zarządzanie
      %th
        Dzień tygodnia
      %th
        Czas od
      %th
        Czas do
  %tbody
    - @person.work_schedules.each do |work|
      %tr
        %td
          = link_to edit_backend_work_schedule_path(work) do
            %i.btn.btn-default
              %i.fa.fa-pencil
          = link_to backend_work_schedule_path(work), method: :delete, data: {confirm: 'Jesteś pewny/a?'} do
            %i.btn.btn-danger
              %i.fa.fa-trash
        %td
          = work.day_of_week
        %td
          = work.start_time.strftime("%H:%M")
        %td
          = work.end_time.strftime("%H:%M")
