.container.fix
  %h2.text-center Rejestracja
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = f.error_notification
    .form-inputs
      .input-field
        = f.input :pesel, required: true, autofocus: true, input_html: {length: 11, maxlength: 11}
      .input-field
        = f.input :first_name, required: true, input_html: {length: 30, maxlength: 30}
      .input-field
        = f.input :last_name, required: true, input_html: {length: 60, maxlength: 60}
      .row
        .col-md-5
          = f.input :date_of_birth, required: true, start_year: Date.today.year - 100, end_year: Date.today.year - 13

      .input-field
        = f.input :email, required: true, input_html: {length: 254, maxlength: 254}
      .file-field.input-field
      = f.input :profile_image, as: :file
      .input-field
        = f.input :salary
      = f.input :hiredate
      = f.select :type, options_for_select([["Recepcjonista", "Receptionist"], ["Trener", "Trainer"], ["Ratownik", "Lifeguard"]]), prompt: 'Wybierz typ pracownika'
      .input-field
        = f.input :password, required: true, hint: ("minimum #{@minimum_password_length} znaków " if @minimum_password_length), input_html: {length: 50, maxlength: 50}
      .input-field
        = f.input :password_confirmation, required: true, input_html: {length: 50, maxlength: 50}
      .form-actions
        = f.button :submit, "Zarejestruj", class: "btn btn-info btn-block"
  - if @current_person.blank?
    = render "devise/shared/links"

-# :javascript
-#   $(document).ready(function () {
-#     $('select').material_select();
-#     $('input#input_text, textarea#textarea1').characterCounter();
-#   });
