-unless @trainer.blank?
  .col-md-6
    %h5
      Trener
      = @trainer.full_name

    %h6
      Harmonogram pracy:

    .col-md-6
      %table.table.table-striped.table-bordered.table-list
        %thead
          %tr
            %th Dzień tygodnia
            %th Godzina od
            %th Godzina do
            %th Zajęte godziny
        %tbody
          - @trainer.work_schedules.each do |tw|
            %tr
              %td
                = tw.day_of_week
              %td
                = l(tw.start_time, format: :short)
              %td
                = l(tw.end_time, format: :short)
              %td
                - unless @trainer.individual_trainings_as_trainer.blank?
                  - @trainer.individual_trainings_as_trainer.each do |ti|
                    = l(ti.start_on, format: :short)
                    = l(ti.end_on, format: :short)
                - else
                  Dostępny cały dzień

.col-md-6
  = render 'form'
:javascript
  $('#input_starttime').pickatime({
        twelvehour: false
      });
  $('#input_endtime').pickatime({
        twelvehour: false
      });
  $('.datepicker').pickadate({
     selectMonths: true, // Creates a dropdown to control month
     selectYears: 150 // Creates a dropdown of 15 years to control year
   });
