
-# %h5.section-title.st-blue
-#   2 krok
-#   %small Wybór dnia tygodnia
-#
.col-md-6
  %h5
    Trener
    = @trainer.full_name

  %h6
    Harmonogram pracy:

  .col-md-6
    %table.table.table-striped.table-bordered.table-list
      %thead
        %tr
          %th Dzień tygodnia
          %th Godzina od
          %th Godzina do
          %th Zajęte godziny
      %tbody
        - @trainer.work_schedules.each do |tw|
          %tr
            %td
              = tw.day_of_week
            %td
              = tw.start_time.strftime("%H:%M")
            %td
              = tw.end_time.strftime("%H:%M")
            %td
              - unless @trainer.individual_trainings_as_trainer.blank?
                - @trainer.individual_trainings_as_trainer.each do |ti|
                  = ti.start_on.strftime("%H:%M")
                  = ti.end_on.strftime("%H:%M")
              - else
                Dostępny cały dzień

.col-md-6
  = simple_form_for([:backend, @individual_training]) do |f|
    = errors_for(@individual_training)
    = f.input :date_of_training, as: :date
    = f.input :start_on
    = f.input :training_cost_id, label: "Czas trwania" ,
      collection: @training_costs.map{ |tc| [tc.duration, tc.id] },
      prompt: 'Wybierz czas trwania treningu'
    -# = f.input :start_on
    = f.button :submit, class: "btn btn-primary"
