%h5 Moje treningi indywidualne
.row
  .col-md-6
    - unless @nearest_training.blank?
      %ul.collection
        %li.collection-item
          %h5 Najbliższy trening:
        %li.collection-item
          %p
            Już za
            = @days
            dni!
          %p
            Data:
            = l(@nearest_training.date_of_training)
          %p
            Godzina:
            = l(@nearest_training.start_on, format: :short)
            |
            Czas trwania:
            = @nearest_training.training_cost.duration
            min.
= month_calendar attribute: :date_of_training, events: @individual_trainings do |date_of_training, trainings|
  = date_of_training.strftime("%d")
  %br
  - trainings.each do |training|
    = l(training.start_on, format: :short)
    \-
    = l(training.end_on, format: :short)
    = training.trainer.full_name
