= render 'shared/back'
.row
  .col-md-6
    .card-panel
      .blue-text.text-darken-2
        %i.fa.fa-info-circle
        Jesteś na stronie wszystkich treningów indywidualnych odbywającym
        się w danym dniu.

- if @individual_trainings.present?
  %p.flow-text
    Data:
    = l(params[:date_of_training].to_date)
    %br
    Ilość treningów:
    = @individual_trainings.count
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %td
          Godzina od
        %td
          Godzina do
        %td
          Trener
    %tbody
      - @individual_trainings.each do |it|
        %tr
          %td
            = l(it.start_on, format: :short)
          %td
            = l(it.end_on, format: :short)
          %td
            = it.trainer.full_name

- elsif @trainer_ind_trainings.present?
  %p.flow-text
    Data:
    = l(params[:date_of_training].to_date)
    %br
    Ilość treningów:
    = @trainer_ind_trainings.count
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %td
          Godzina od
        %td
          Godzina do
        %td
          Trener
    %tbody
      - @trainer_ind_trainings.each do |it|
        %tr
          %td
            = l(it.start_on, format: :short)
          %td
            = l(it.end_on, format: :short)
          %td
            = it.trainer.full_name
- else
  .row
    .col-md-4.col-md-offset-4
      .card-panel.teal.text-center
        %span.white-text
          Brak treningów
