= simple_form_for([:backend, @activity]) do |f|
  = errors_for(@activity)
  .row
    .input-field
      = f.input :name
    .input-field
      = f.input :description, input_html: {class:'materialize-textarea'}
    .checkbox-fix
      = f.input :active
    .col-md-6
      .form-group
        = f.input :start_on
    .col-md-6
      .form-group
        = f.input :end_on
    .form-group
      = f.input :day_of_week, collection: Activity::DAYS,
                              prompt: "Wybierz dzień tygodnia"
    .form-group
      = f.input :pool_zone, collection: [['A', 'A'], ['B', 'B'], ['C', 'C'],
      ['D', 'D'], ['E', 'E'], ['F', 'F']], prompt: 'Wybierz strefę'
    .form-group
      = f.input :person_id, collection: @trainers.map{|t| [t.full_name, t.id]},
                            prompt: "Wybierz trenera"
    .input-field
      = f.input :max_people
    = f.button :submit, class: "btn btn-primary"
