= simple_form_for([:backend, @activity]) do |f|
  = errors_for(@activity)
  .row
    .input-field
      = f.input :name
    .input-field
      = f.input :description, input_html: {class:'materialize-textarea'}
    - if current_manager
      .checkbox-fix
        = f.input :active
    .col-md-6
      .form-group
        %label{for: 'input_starttime'}* Czas rozpoczęcia
        = f.text_field :start_on, class: 'timepicker',
          id: 'input_starttime', id: 'input_starttime', placeholder: 'Kliknij'
    .col-md-6
      .form-group
        %label{for: 'input_endtime'}* Czas zakończenia
        = f.text_field :end_on, class: 'timepicker', id: 'input_endtime',
          required: true, placeholder: 'Kliknij'
    .form-group
      = f.input :day_of_week, as: :select, collection: Activity::DAYS,
                              prompt: "Wybierz dzień tygodnia"
    .form-group
      = f.input :pool_zone, collection: [['A', 'A'], ['B', 'B'], ['C', 'C'],
      ['D', 'D'], ['E', 'E'], ['F', 'F']], prompt: 'Wybierz strefę'
    .form-group
      = f.input :person_id, collection: @trainers.map{|t| [t.full_name, t.id]},
                            prompt: "Wybierz trenera"
    .input-field
      = f.input :max_people
    = f.button :submit, class: "btn btn-primary"
:javascript
  $('#input_starttime').pickatime({
        twelvehour: false
      });
  $('#input_endtime').pickatime({
        twelvehour: false
      });
