%h5 Zajęcia grupowe

- unless current_client || current_trainer || current_lifeguard
  %p
    = link_to new_backend_activity_path, class: 'btn btn-primary', data: {no_turbolink: true} do
      %i.fa.fa-plus
      Dodaj zajęcia
.col-md-6
  = render 'shared/a_searchbar'
.row
  %table.table.table-striped.table-bordered.table-list.pretty.table-list-search
    %thead
      %tr
        %th
          %em.fa.fa-cog
          Zarządzanie
        %th
          Nazwa
        %th
          Opis
        %th
          Aktywne?
        %th
          Dzień tygodnia
        %th
          Godzina rozpoczęcia
        %th
          Godzina zakończenia
        %th
          Strefa basenu
        %th
          Trener
        %th
          Maksymalna ilość osób
    %tbody
      -unless current_client
        - @activities.each do |activity|
          %tr
            %td
              - if current_receptionist || current_manager
                = link_to edit_backend_activity_path(activity), title: 'Edytuj', data: { no_turbolink: true } do
                  %i.btn.btn-default
                    %i.fa.fa-pencil
                = link_to backend_activity_path(activity), title: 'Usuń', method: :delete, data: {confirm: 'Jesteś pewny/a?'} do
                  %i.btn.btn-danger
                    %i.fa.fa-trash
                - if activity.active
                  - if current_receptionist || current_manager
                    = link_to deactivate_backend_activity_path(activity, active: false), title: 'Deaktywuj', method: :post do
                      %i.btn.btn-danger
                        %i.fa.fa-calendar-minus-o
                - unless activity.active
                  = link_to activate_backend_activity_path(activity, active: true), title: 'Aktywuj', method: :post do
                    %i.btn.btn-success
                      %i.fa.fa-calendar-plus-o
              = link_to sign_up_backend_activity_path(activity), title: 'Dołącz', data: { no_turbolink: true } do
                %i.btn.btn-success
                  %i.fa.fa-user-plus
              = link_to preview_backend_activity_path(activity), title: 'Lista uczestników' do
                %i.btn.btn-warning
                  %i.fa.fa-search
            %td
              = activity.name
            %td
              = activity.description
            %td
              - if activity.active?
                %i.fa.fa-check
              - else
                %i.fa.fa-times
            %td
              = activity.day_of_week
            %td
              = l(activity.start_on, format: :short)
            %td
              = l(activity.end_on, format: :short)
            %td
              = link_to pool_zone_backend_activities_path(zone: activity.pool_zone) do
                .btn.btn-warning
                  = activity.pool_zone
            %td
              = link_to backend_person_path(activity.person) do
                = activity.person.full_name
            %td
              = activity.max_people
      - else
        - @actual_activities.each do |activity|
          %tr
            %td
              - if current_receptionist || current_manager
                = link_to edit_backend_activity_path(activity), title: 'Edytuj', data: { no_turbolink: true } do
                  %i.btn.btn-default
                    %i.fa.fa-pencil
                = link_to backend_activity_path(activity), title: 'Usuń', method: :delete, data: {confirm: 'Jesteś pewny/a?'} do
                  %i.btn.btn-danger
                    %i.fa.fa-trash
                - if activity.active
                  - if current_receptionist || current_manager
                    = link_to deactivate_backend_activity_path(activity, active: false), title: 'Deaktywuj', method: :post do
                      %i.btn.btn-danger
                        %i.fa.fa-calendar-minus-o
                - unless activity.active
                  = link_to activate_backend_activity_path(activity, active: true), title: 'Aktywuj', method: :post do
                    %i.btn.btn-success
                      %i.fa.fa-calendar-plus-o
              = link_to sign_up_backend_activity_path(activity), title: 'Dołącz', data: { no_turbolink: true } do
                %i.btn.btn-success
                  %i.fa.fa-user-plus
              = link_to preview_backend_activity_path(activity), title: 'Lista uczestników' do
                %i.btn.btn-warning
                  %i.fa.fa-search
            %td
              = activity.name
            %td
              = activity.description
            %td
              - if activity.active?
                %i.fa.fa-check
              - else
                %i.fa.fa-times
            %td
              = activity.day_of_week
            %td
              = l(activity.start_on, format: :short)
            %td
              = l(activity.end_on, format: :short)
            %td
              = link_to pool_zone_backend_activities_path(zone: activity.pool_zone) do
                .btn.btn-warning
                  = activity.pool_zone
            %td
              = link_to backend_person_path(activity.person) do
                = activity.person.full_name
            %td
              = activity.max_people

  = will_paginate @activities, renderer: BootstrapPagination::Rails
