= render 'shared/back'
%h5
  Harmonogram zajęć dla strefy basenu:
  = params[:zone]

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Poniedziałek
      %th Wtorek
      %th Środa
      %th Czwartek
      %th Piątek
      %th Sobota
      %th Niedziela
  %tbody
    - unless @activities_people.blank?
      %tr
        %td
          - @activities_people.each do |ap|
            - if ap.day_of_week == 'Poniedziałek'
              = ap.name
              |
              = l(ap.start_on, format: :short)
              \-
              = l(ap.end_on, format: :short)
        %td
          - @activities_people.each do |ap|
            - if ap.day_of_week == 'Wtorek'
              = ap.name
              |
              = l(ap.start_on, format: :short)
              \-
              = l(ap.end_on, format: :short)

        %td
          - @activities_people.each do |ap|
            - if ap.day_of_week == 'Środa'
              = ap.name
              |
              = l(ap.start_on, format: :short)
              \-
              = l(ap.end_on, format: :short)

        %td
          - @activities_people.each do |ap|
            - if ap.day_of_week == 'Czwartek'
              = ap.name
              |
              = l(ap.start_on, format: :short)
              \-
              = l(ap.end_on, format: :short)

        %td
          - @activities_people.each do |ap|
            - if ap.day_of_week == 'Piątek'
              = ap.name
              |
              = l(ap.start_on, format: :short)
              \-
              = l(ap.end_on, format: :short)

        %td
          - @activities_people.each do |ap|
            - if ap.day_of_week == 'Sobota'
              = ap.name
              |
              = l(ap.start_on, format: :short)
              \-
              = l(ap.end_on, format: :short)

        %td
          - @activities_people.each do |ap|
            - if ap.day_of_week == 'Niedziela'
              = ap.name
              |
              = l(ap.start_on, format: :short)
              \-
              = l(ap.end_on, format: :short)
    - else
      %tr
        %td{colspan: '7'}
          .text-center
            Brak zajęć.
