%h5 Wyniki wyszukiwania

.col-md-6
  = render 'shared/a_searchbar'
%table.table.table-striped.table-bordered.table-list.pretty.table-list-search
  %thead
    %tr
      %th
        %em.fa.fa-cog
        Zarządzanie
      %th
        Nazwa
      %th
        Opis
      %th
        Aktywne?
      %th
        Data
      %th
        Godzina rozpoczęcia
      %th
        Godzina zakończenia
      %th
        Strefa basenu
      %th
        Maksymalna ilość osób
  %tbody
    - unless @activities.blank?
      - @activities.each do |activity|
        %tr
          %td
            = link_to edit_backend_activity_path(activity), data: { no_turbolink: true } do
              %i.btn.btn-default
                %i.fa.fa-pencil
            = link_to backend_activity_path(activity), method: :delete, data: {confirm: 'Jesteś pewny/a?'} do
              %i.btn.btn-danger
                %i.fa.fa-trash
          %td
            = activity.name
          %td
            = activity.description
          %td
            - if activity.active?
              %i.fa.fa-check
            - else
              %i.fa.fa-times
          %td
            = l(activity.date)
          %td
            = l(activity.start_on, format: :short)
          %td
            = l(activity.end_on, format: :short)
          %td
            = activity.pool_zone
          %td
            = activity.max_people
      = will_paginate @activities, renderer: BootstrapPagination::Rails
    - else
      %tr
        %td{colspan: '9'}
          .text-center
            Brak rezultatów.
