%nav.navbar.blue.darken-4.navbar-fixed-top.z-depth-1{:role => "navigation"}
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.waves-effect.waves-light{:href => root_path}
        %span
          %img{:src => "http://www.mediafire.com/convkey/3ae8/l0k4388rtzm4rzkzg.jpg"}
        Pure Space
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.nav-pills.smooth-scroll
        %li
          %a.waves-effect.waves-light{:href => "#{root_path}#carousel1" } Strona Główna
        %li
          %a.waves-effect.waves-light{:href => "#{root_path}#about"} O nas
        %li
          %a.waves-effect.waves-light{:href => "#{root_path}#price"} Cennik
        %li
          %a.waves-effect.waves-light{:href => "#{root_path}#contact"} Kontakt
      %ul.nav.navbar-nav.navbar-right
        - unless person_signed_in?
          %li
            = link_to new_person_session_path do
              %i.fa.fa-sign-in
              Logowanie
          %li
            = link_to new_client_registration_path do
              %i.fa.fa-user-plus
              Rejestracja
        - else
          %li
            = link_to backend_person_path(current_person.id) do
              = current_person.fullName
          %li
            = link_to destroy_person_session_path, method: :delete do
              %i.fa.fa-sign-out
              Wyloguj
