#price.container
  .row.text-center
    %h2.divider-new Cennik
    %h4 Wybierz interesujący Cię rodzaj wejściówki.
    .col-md-12
      #tab.btn-group{"data-toggle" => "buttons-radio"}
        %a.btn.btn-large.btn-success.btn-xlg{"data-toggle" => "tab", :href => "#tickets"}
          %i.fa.fa-ticket
          Bilety
        %a.btn.btn-large.btn-primary.btn-xlg{"data-toggle" => "tab", :href => "#passes"}
          %i.fa.fa-clipboard
          Karnety
      .tab-content
        #tickets.tab-pane
          %br
          - @entry_types.each do |type|
            - if type.kind == 'Bilet'
              .col-md-4.col-sm-6.col-xs-12.float-shadow
                .price_table_container
                  .price_table_heading
                    = type.kind
                  .price_table_body
                    .price_table_row.cost.success-bg
                      %strong
                      PLN
                      = type.price
                      %br
                      %span /DZIEŃ
                    .price_table_row
                      = type.kind_details
                    .price_table_row
                      = type.description
                    .price_table_row
                      Możliwość wchodzenia na teren obiektu przez 24h od momentu zakupienia.
                    .center
                      .btn.btn-success.btn.lg.btn-block
                        .fa.fa-shopping-cart
                        Kup Bilet
        #passes.tab-pane
          %br
          - @entry_types.each do |type|
            - if type.kind == 'Karnet'
              .col-md-4.col-sm-6.col-xs-12.float-shadow
                .price_table_container
                  .price_table_heading
                    = type.kind
                  .price_table_body
                    .price_table_row.cost.primary-bg
                      %strong
                      PLN
                      = type.price
                      %br
                      %span /MIESIĄC
                    .price_table_row
                      = type.kind_details
                    .price_table_row
                      = type.description
                    .price_table_row
                      Możliwość wchodzenia na teren obiektu przez miesiąc od momentu zakupienia.
                    .center
                      .btn.btn-primary.btn.lg.btn-block
                        .fa.fa-shopping-cart
                        Kup Karnet
