!!!
%html
  %head
    %title Aquapark
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{:href => "http://fonts.googleapis.com/css?family=Andada&subset=latin,latin-ext", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Archivo+Black&subset=latin,latin-ext", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "http://code.jquery.com/jquery-2.2.2.min.js", :type => "text/javascript"}
    / MDB core CSS
    %link{:href => "http://mdbootstrap.com/mdbcdn/mdb.min.css", :rel => "stylesheet"}
    / MDB core JavaScript
    %script{:src => "http://mdbootstrap.com/mdbcdn/mdb.min.js", :type => "text/javascript"}
    / Material Design Icons
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}
    / Material Design Bootstrap
    %link{:href => "css/mdb.css", :rel => "stylesheet"}
    / Material Design Bootstrap
    %script{:src => "js/mdb.js", :type => "text/javascript"}


  %body#frontend{"data-spy" => "scroll", "data-target" => ".navbar"}
    = render '/layouts/navbar'
    = render 'layouts/messages'
    = yield
    = render '/layouts/footer'
