!!!
%html
  %head
    %title Aquapark
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{:href => "http://fonts.googleapis.com/css?family=Andada&subset=latin,latin-ext", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Archivo+Black&subset=latin,latin-ext", :rel => "stylesheet", :type => "text/css"}
    / MDB core CSS
    %link{:href => "http://mdbootstrap.com/mdbcdn/mdb.min.css", :rel => "stylesheet"}
    / MDB core JavaScript
    %script{:src => "http://mdbootstrap.com/mdbcdn/mdb.min.js", :type => "text/javascript"}
    / Material Design Icons
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}
    / Material Design Bootstrap
    %link{:href => "css/mdb.css", :rel => "stylesheet"}
    / Material Design Bootstrap
    %script{:src => "js/mdb.js", :type => "text/javascript"}

  %body#frontend{"data-spy" => "scroll"}
    = render '/layouts/navbar'
    - flash.each do |name, msg|
      - if msg.is_a?(String)
        %div{:class => "alert alert-#{name == "notice" ? "success" : "danger"} alert-dismissable"}
          %button.close{"data-dismiss" => "alert", :type => "button"}
            %span{"aria-hidden" => "true"} &times;
            %span.sr-only Close
          = content_tag :div, msg, :id => "flash_#{name}"
    = yield
    = render '/layouts/footer'
