!!!
%html
  %head
    %title Aquapark
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{:href => "http://fonts.googleapis.com/css?family=Andada&subset=latin,latin-ext", :rel => "stylesheet", :type => "text/css"}/

  %body
    = render '/layouts/navbar'
    = render '/layouts/slider'
    = render '/layouts/about'
    = render '/layouts/price'
    = render '/layouts/contact'
    = yield
    = render '/layouts/footer'
