!!!
%html
  %head
    %title Aquapark
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{:href => "http://fonts.googleapis.com/css?family=Andada&subset=latin,latin-ext", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Archivo+Black&subset=latin,latin-ext", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "https://code.jquery.com/jquery-2.2.2.min.js", :type => "text/javascript"}
    %script{:src => "https://s3.amazonaws.com/aquapark-pubic-s9434/jquery.min.js", :type => "text/javascript"}

    %link{:href => "https://s3.amazonaws.com/aquapark-s9434/mdb/mdb.css", :rel => "stylesheet"}
    %link{:href => "https://s3.amazonaws.com/aquapark-s9434/mdb/mdb.min.css", :rel => "stylesheet"}
    -# / MDB core JavaScript
    -# %script{:src => "https://s3.amazonaws.com/aquapark-s9434/mdb/mdb.js", :type => "text/javascript"}
    -#
    %script{:src => "https://s3.amazonaws.com/aquapark-s9434/mdb/mdb.min.js", :type => "text/javascript"}
    / Material Design Icons
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}



  %body#frontend{"data-spy" => "scroll", "data-target" => ".navbar"}
    = render '/layouts/navbar'
    = render 'layouts/messages'
    = yield
    = render '/layouts/footer'
