!!!
%html
  %head
    %title Panel Backend
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag "application"
    = javascript_include_tag 'https://js.stripe.com/v2'
    = csrf_meta_tags
    = tag :meta, name: 'stripe-key', content: ENV['STRIPE_PUBLIC_KEY']
    %link{ href: 'http://fonts.googleapis.com/css?family=Andada&subset=latin,latin-ext', rel: 'stylesheet', type: 'text/css' }
    %link{ href: 'http://fonts.googleapis.com/css?family=Archivo+Black&subset=latin,latin-ext', rel: 'stylesheet', type: 'text/css' }
    %link{ href: 'https://fonts.googleapis.com/icon?family=Material+Icons', rel: 'stylesheet' }
    /%script{ src: 'https://code.jquery.com/jquery-2.2.2.min.js', type: 'text/javascript' }

    /jquery.min.js
    /%script{ src: 'https://googledrive.com/host/0B3yx98FbxNb4ZEVLZUJjYWNMTnc/', type: 'text/javascript' }
    /mdb.css
    %link{ href: 'https://googledrive.com/host/0B3yx98FbxNb4STVleGxYZTZnOEE/', rel: 'stylesheet' }
    /mdb.min.css
    %link{ href: 'https://googledrive.com/host/0B3yx98FbxNb4U2RwYi1udXE0MzA/', rel: 'stylesheet' }
    /mdb.min.js
    %script{src: 'https://googledrive.com/host/0B3yx98FbxNb4TVBMRWdIZjBSQkE/', type: 'text/javascript' }
  %body
  - if @current_person.present?
    %nav.navbar.primary-color
      .container-fluid
        .navbar-header
          %a.navbar-brand{href: "#"} Backend Panel
        %ul.nav.navbar-nav
          %li{class: current_page?(backend_news_index_path) && 'active'}
            = link_to 'Aktualności', backend_news_index_path
          %li{class: current_page?(backend_statistics_path) && 'active'}
            = link_to 'Statystyki', backend_statistics_path
          %li{class: current_page?( list_backend_vacations_path(@current_person)) && 'active'}
            = link_to 'Urlop', list_backend_vacations_path(@current_person)
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#", role: "button"}
              Zatrudnianie
              %i.caret
            %ul.dropdown-menu
              %li
                = link_to 'Recepcjonista', new_backend_receptionist_registration_path, data: { no_turbolink: true }

        %ul.nav.navbar-nav.navbar-right
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: backend_person_path(@current_person)}
              %i.fa.fa-user
              = @current_person.full_name
              %i.caret
            %ul.dropdown-menu
              %li
                = link_to backend_person_path(@current_person) do
                  %i.fa.fa-bars
                  Profil
              %li.divider
              %li
                = link_to destroy_person_session_path, method: :delete do
                  %i.fa.fa-sign-out
                  Wyloguj
    = render 'layouts/messages'
    .container-fluid
      .row
        .col-md-2
          #sidebar.well.sidebar-nav
            %h5
              %i.fa.fa-ticket
              %small
                %b Wejściówki
            %ul.nav.nav-pills.nav-stacked
              %li{class: current_page?(backend_entry_types_path) && 'active'}
                = link_to "Bilety/Karnety", backend_entry_types_path, data: { no_turbolink: true }
              %li{class: current_page?(bought_history_backend_person_path(@current_person)) && 'active'}
                = link_to "Moja historia Zakupów", bought_history_backend_person_path(@current_person), data: { no_turbolink: true }
              %li{class: current_page?(bought_list_backend_entry_types_path) && 'active'}
                = link_to "Kup Bilet/Karnet",  bought_list_backend_entry_types_path, action: :show, data: {no_turbolink: true}
            %h5
              %i.fa.fa-users
              %small
                %b Zarejestrowane osoby
            %ul.nav.nav-pills.nav-stacked
              %li{class: current_page?(backend_people_path) && 'active'}
                = link_to "Użytkownicy", backend_people_path, data: { no_turbolink: true }
              %li{class: current_page?(backend_clients_path) && 'active'}
                = link_to "Klienci", backend_clients_path, data: { no_turbolink: true }
              %li{class: current_page?(backend_receptionists_path) && 'active'}
                = link_to "Recepcjoniści", backend_receptionists_path, data: { no_turbolink: true }
              %li{class: current_page?(backend_trainers_path) && 'active'}
                = link_to "Trenerzy", backend_trainers_path, data: { no_turbolink: true }
              %li{class: current_page?(backend_lifeguards_path) && 'active'}
                = link_to "Ratownicy", backend_lifeguards_path, data: { no_turbolink: true }
            %h5
              %i.fa.fa-calendar
              %small
                %b Harmonogram pracy
            %ul.nav.nav-pills.nav-stacked
              %li{class: current_page?(backend_work_schedules_path) && 'active'}
                = link_to "Grafik pracy", backend_work_schedules_path, data: { no_turbolink: true }
              %li{class: current_page?(backend_work_schedule_path(@current_person)) && 'active'}
                = link_to "Mój grafik pracy", backend_work_schedule_path(@current_person) if @current_person.present?
              %li{class: current_page?(new_backend_work_schedule_path) && 'active', data: { no_turbolink: true }}
                = link_to "Dodaj grafik pracy", new_backend_work_schedule_path
            %h5
              %i.fa.fa-child
              %small
                %b Aktywności
            %ul.nav.nav-pills.nav-stacked
              %li{class: current_page?(backend_individual_trainings_path) && 'active'}
                = link_to 'Trening indywidualny', backend_individual_trainings_path, data: { no_turbolink: true }
              %li{class: current_page?(choose_trainer_backend_individual_trainings_path(@current_person)) && 'active'}
                = link_to 'Zapisz się na trening',  choose_trainer_backend_individual_trainings_path(@current_person), data: { no_turbolink: true }
              %li{class: current_page?(show_backend_individual_trainings_path(@current_person)) && 'active'}
                = link_to 'Moje treningi', show_backend_individual_trainings_path(@current_person)
              %li{class: current_page?(backend_training_costs_path) && 'active'}
                = link_to 'Koszty treningów', backend_training_costs_path
        .col-md-10
          = yield
